*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #363535 0%, #171820 100%) 0% 0% no-repeat padding-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 98vw;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    margin: 1vh 1vw;
}

.maintitle
{
    text-align: center;
    font-family: Bernard MT;
    font-size: 8vh;
    color: #FFFFFF;
    text-shadow: 0px 10px 6px #00000029;
}

.portions{
    font: 4vh Bernard MT;
    color: #DF861D;
    gap: 0.5vw;
    margin-left: 1vw;
}
.time{
    font-family: Bernard MT;
    font-size: 7vh;
    color: #635C53;
    text-shadow: 0px 10px 6px #00000029;
}


main{
    width: 100vw;
    height: 78vh;
    display: flex;
    padding: 2vh 2vw;
}

.photo{
    width: 30vw;
    border-radius: 15px;
    /*background-image: url('../img/ryzzkurczakiem.jpg');*/
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.photo > img{
    object-fit: cover;

    border-radius: 15px;
    position: relative;
    z-index: -2;
}

.shadow{
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 76vh;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.rate{
    border-radius: 50%;
    background: transparent radial-gradient(closest-side at 50% 50%, #DF861D 0%, #4B2E0C 100%) 0% 0% no-repeat padding-box;
    width: 10vh;
    height: 10vh;
    margin-left: 1em;
    margin-right: 1vw;
    /*margin-top: 3vh;*/
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-number{
    font: normal normal normal 10em Bernard MT;
    letter-spacing: 0px;
    color: #000000;
    font-size: 5vh;
}

.ingredients{
    width: 30vw;
}

.ingredients-title{
    margin-left: 1vw;
    text-align: left;
    font: normal normal normal 5vh Bernard MT;
    letter-spacing: 0px;
    color: #DF861D;
}

.ingredients-list{
    margin-left: 1vw;
    background: #F6DDC0 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px;
    height: 59vh;
}

.description{
    width: 40vw;
}

.description-title{
    margin-left: 1vw;
    text-align: left;
    font: normal normal normal 5vh Bernard MT;
    letter-spacing: 0px;
    color: #DF861D;
}

.description-main{
    height: 57vh;
}

.favourite{
    height: 11vh;
    font-size: 7em;
    color: #DF861D;
}

.custom-checkbox{
    margin-top: 1vh;
    color: #DF861D;
    font-size: 7vh;
    font-family: "Bernard MT";
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.custom-checkbox input[type="checkbox"], .custom-checkbox .checked {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

nav{
    width: 100vw;
    height: 10vh;
    background: #171820 0% 0% no-repeat padding-box;
    display: flex;
    align-self: flex-end;
    justify-content:space-between;
    /*margin-top: 2vh;*/
}

.icons-bar{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1vw;
}

.icons-bar > img{
    width: 20%;
}

.searchbar{
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    margin: auto;
    margin-left: 1vw;
    justify-content: flex-start;
    height: 70%;
    width: 40%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.2em solid #707070;
    border-radius: 10em;
}

.icons-bar > i{
    font-size: 6vh;
    padding-right: 0.5em;
    color: #DF861D;
}

.searchbar > i{
    font-size: 5vh;
    color: #DF861D;
    padding-left: 0.3em;
    padding-bottom: 0.1em;
}

input.search{
    font: normal normal normal 3vh Segoe UI;
    letter-spacing: 0.1em;
    align-items: center;
    text-align: left;
    width: 75%;
    height: 3vh;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5vh;
}

.fa-search:before {
    content: "\f002";
    margin-right: 0.3em;
}

.fa-filter:before {
    content: "\f0b0";
    font-size: 1em;
}