section.recipes{
    /*width: 100vw;*/
    height: 76vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw;
    padding-left: 2em;
    overflow-x: auto;
    display: flex;

}
.section.recipes::-webkit-scrollbar {    display: none;}
#recipe-1{
    border-radius: 2em;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76vh;
    width: 30vw;
}


.reciepe-background{
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 2em;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76vh;
    width: 30vw;

}

.recipe-title{
    text-align: center;
    font: normal normal normal 6em Bernard MT;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 1vh;
}

.recipe-info{

    color: white;
    display: grid;
    height: 20%;
    /*grid-template-areas: "r l t"*/
    /*                     "r p u";*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr) ;
}


.rate{
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 50%;
    margin-left: 1vw;
    background: transparent radial-gradient(closest-side at 50% 50%, #DF861D 0%, #4B2E0C 100%) 0% 0% no-repeat padding-box;
    width: 10vh;
    height: 10vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /*margin-top: 3vh;*/
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-number{
    font: normal normal normal 10em Bernard MT;
    letter-spacing: 0px;
    color: #000000;
    font-size: 5vh;
}

.level{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1vw;
    padding-left: 1vw;
    font: normal normal normal 1.5em Bernard MT;
    color: #DF861D;
}

.level-text{
    width: 50%;
    text-align: center;

}

.time{
    grid-column: 3/4;
    grid-row: 1/2;
    font: normal normal normal 1.5em Bernard MT;
    color: #DF861D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
    padding-left: 1vw;
}

.time > i{
    padding-left: 0.5vw;
    font-size: 2vh;
}

.price{
    grid-column: 2/3;
    grid-row: 2/3;
    font: normal normal normal 1.5em Bernard MT;
    color: #DF861D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}

.user{
    grid-column: 3/4;
    grid-row: 2/3;
    font: normal normal normal 1.5em Bernard MT;
    color: #DF861D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
    padding-left: 1vw;
}

.filter{

    position: absolute;
    border-radius: 3em;
    margin-top: 18vh;
    height: 80vh;
    width: 40vw;
    margin-left: 1vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /*display: grid;*/
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.filter-header {
    grid-area: 1 / 1 / 2 / 3;
    text-align: left;
    margin-left: 1vw;
    font: normal normal normal 7em Bernard MT;
    letter-spacing: 0px;
    color: #363535;
}
.filter-price {
    grid-area: 1 / 3 / 2 / 6;
    border-radius: 3em;
    background: #0061ff 0% 0% no-repeat padding-box;
}
.meal-type {
    grid-area: 2 / 1 / 3 / 4;
    border-radius: 3em;
    background: #0061ff 0% 0% no-repeat padding-box;
}
.portions {
    grid-area: 2 / 4 / 3 / 6;
}
.ingredients {
    grid-area: 3 / 1 / 6 / 4;
}
.filter-button {
    grid-area: 3 / 4 / 6 / 6;
}

