<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/friends.css">
    <script src="https://kit.fontawesome.com/5b854a05a2.js" crossorigin="anonymous"></script>
    <title>Mmeal | Friends</title>
</head>
<body>
    <header>
        <div class="maintitle">
            Znajomi
        </div>
        <i class="fas fa-user-plus"></i>
    </header>
    <main>
        <div class="person">
            <div class="photo">

            </div>
            <div class="name">
                Name Surname
            </div>

            <div class="numberofrecipes">
                Liczba przepisow: 10
            </div>
        </div>

    </main>
    <nav>
        <div class= "searchbar">
            <i class="fas fa-search"></i>
            <input class= "search" placeholder="Szukaj...">
            <i class="fas fa-filter"></i>
        </div>

        <div class="icons-bar">
            <i class="fas fa-user-friends"></i>
            <i class="fas fa-user"></i>
            <img src="public/img/logo.svg">
        </div>
    </nav>
</body>
</html>