<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5b854a05a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>PROJECTS</title>
</head>
<body>
    <div class = "base-container">
        <nav>

        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search project">
                    </form>
                </div>
                <div class="add-project">
                    <i class="fas fa-plus"></i>
                    add project
                </div>
            </header>
            <section class="project">
                <div>project 1</div>
                <div>project 2</div>
                <div>project 3</div>
                <div>project 4</div>
            </section>
        </main>
    </div>
</body>
</html>